Source: agistudio
Section: x11
Priority: optional
Maintainer: Debian QA Group <packages@qa.debian.org>
Build-Depends: debhelper (>= 4.0.0), tmake, libqt4-dev, libqt4-qt3support
Standards-Version: 3.6.1.1

Package: agistudio
Architecture: any
Depends: ${shlibs:Depends}
Recommends: scummvm|nagi|sarien
Description: IDE for creating early Sierra style AGI games
 AGI (Adventure Game Interpreter) is the adventure game engine used by
 Sierra On-Line(tm) to create some of their early games. QT AGI Studio
 is a program which allows you to view, create and edit AGI games.
