#!/usr/bin/make -f
# Build rules for "QT AGI Studio", modified from
# the sample debian/rules (GNU copyright 1997 to 1999
# by Joey Hess)

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This is the debhelper compatibility version to use.
export DH_COMPAT=4



CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	INSTALL_PROGRAM += -s
endif

configure: configure-stamp
configure-stamp:
	dh_testdir
	cd src; qmake-qt4 agistudio.pro -o Makefile
	touch configure-stamp


build: build-stamp

build-stamp: configure-stamp
	dh_testdir
	cd src; $(MAKE)
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	-cd src; $(MAKE) clean
	-rm src/Makefile

	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	dh_install
	mkdir -p $(CURDIR)/debian/agistudio/usr/share/applications
	install -m 644 $(CURDIR)/packaging/agistudio.desktop $(CURDIR)/debian/agistudio/usr/share/applications/
	mkdir -p $(CURDIR)/debian/agistudio/usr/share/pixmaps
	install -m 644 $(CURDIR)/packaging/qtagistudio.xpm $(CURDIR)/debian/agistudio/usr/share/pixmaps/

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
#	dh_installdebconf
	dh_installdocs
	dh_installexamples
	dh_installmenu
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_installinit
#	dh_installcron
	dh_installman agistudio.1
#	dh_installinfo
#	dh_undocumented
	dh_installchangelogs
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_makeshlibs
	dh_installdeb
#	dh_perl
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
